<div *ngIf="connected">
  <h3>
    CURRENT MATCH
    <span class="label label-info">{{current}}</span>
  </h3>

  <hr />

  <div *ngIf="!finished">
    <div class="row">
      <div *ngFor="#group of groups">
        <group [group]="group"></group>
      </div>
    </div>
  </div>

  <div *ngIf="finished">
    <div *ngFor="#group of groups; #i=index" class="row">
      <div *ngIf="i > 0 && group.users.length" class="col-sm-12 text-center">
        <h1><span  class="label label-default">X</span></h1>
      </div>
      
      <group [group]="group"></group>
    </div>
  </div>

  <div *ngIf="!users.length">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="alert alert-warning text-center">
          <strong>Heads up!</strong> No player in the room "{{room}}".
        </div>
      </div>
    </div>
  </div>
</div>